* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/*--------------------------------------------------------------
VARIABLES CSS
--------------------------------------------------------------*/

:root {
  /*========== Colores ==========*/
  --color-blanco:#fff;
  --color-dark: #ffffff;
  --color-gray: #f8f8f9;
  --color-txt-dark: #292929;
  --color-txt-gray: #717275;
  --color-main: #e0004d;
  --color-second: #7647c3;
  --color-design:#9382E8;
  --color-dev:#58C0CC;
  --color-marketing:#F4AD24;
  --color-social:#FF6F61;
  --color-photo:#36B590;

  /*========== Font and typography ==========*/
  --font-content: 'Poppins', sans-serif;
  --font-titles: 'Mario', sans-serif;
  --font-size-default: 1.1rem;
  --font-size-h1: 6vw;
  --font-size-h1-md: 9vw;
  --font-size-h1-sm: 12vw;

  /*Animaciones*/
  /*Transición*/

  /*Sombras*/
  --general--shadow-01: rgba(6, 6, 6, .1);
  --general--shadow-02: rgba(6, 6, 6, .12);
  --general--shadow-03: rgba(20, 20, 43, .24);

}

.dark-theme {
  --color-blanco:#fff;
  --color-dark: #151515;
  --color-gray: #212121;
  --color-txt-dark: #fff;
  --color-txt-gray: #e0e0e0;
  --color-main: #FF73A4;
  --color-second: #B396E0;
  --color-design:#AFA0FA;
  --color-dev:#86D3DB;
  --color-marketing:#FFC859;
  --color-social:#FFABA3;
  --color-photo:#90E0CA;
}

/*--------------------------------------------------------------
FONT FACE
--------------------------------------------------------------*/

@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url(./fonts/DMSans-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Mario';
  src: local('Mario'), url(./fonts/ClashDisplay-Regular.ttf) format('truetype');
}

/*--------------------------------------------------------------
GENERAL STYLES
--------------------------------------------------------------*/

body {
  background-color: var(--color-dark);
  color: var(--color-txt-gray);
  font-family: var(--font-content);
  font-size: var(--font-size-default);
  transition: background-color 0.5s cubic-bezier(0.25, 0.1, 0.4, -0.12), color 0.5s cubic-bezier(0, 0, 0.05, -0.57);
}

h1 {
  font-family: var(--font-titles);
  font-size: var(--font-size-h1);
}

/*--------------------------------------------------------------
Lateral
--------------------------------------------------------------*/
.app-lateral {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  background: var(--color-main);
  z-index: 100;
  transform: translate(calc(100% + 6vw), 0) rotate(0.001deg);
  transition: transform .8s cubic-bezier(.7, 0, .2, 1);
  will-change: transform;
}
.fixed-nav-rounded-div {
  position: absolute;
  left: 1px;
  transform: translateX(-100%);
  height: 100%;
  top: 0;
}
.fixed-nav-rounded-div .content-rounded {
  width: 6vw;
  height: 100%;
  transition: all .85s cubic-bezier(.7, 0, .2, 1);
  will-change: width;
}

.content-rounded {
  width: 100%;
  top: 0;
  position: relative;
  height: 10vh;
  overflow: hidden;
}

.fixed-nav-rounded-div .content-rounded .div-rounded{
  background: var(--color-main);
  height: 150%;
  content: "";
  display: block;
  position: absolute;
  width: 775%;
  top: 50%;
  border-radius: 50%;
  transform: translate(-6.5%, -50%);
}

.div-rounded {
  width: 150%;
  content: "";
  display: block;
  position: absolute;
  background: var(--color-white);
  height: 750%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -86.666%);
  z-index: 1;
}
.app-lateral.active {
  transform: translate(0, 0) rotate(0.001deg);
}

.app-lateral.active .content-rounded{
  width: 0vw;
}

.info-fixed{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 15vh 17.5vw 10vh 17.5vw;
  position: relative;
  transform: translate(0, 0) rotate(0.001deg);
  transition: all .6s cubic-bezier(.7, 0, .2, 1);
  will-change: transform;
}
.btn_contacto {
  height: 50px;
  width: 50px;
  background: #fff;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: auto;
  font-size: 40px;
  font-weight: 600;
}
.App{
  transform: translate(0, 0) rotate(0.001deg);
  transition: transform .9s cubic-bezier(.7, 0, .2, 1);
}

.App.active {
  transform: translate(calc(-20% + 6vw), 0) rotate(0deg);
  transition: transform .9s cubic-bezier(.7, 0, .2, 1);
}

/*--------------------------------------------------------------
Hero
--------------------------------------------------------------*/
.content-hero{
  border-radius: 30px;
/*   background-color: var(--color-gray);
  color: var(--color-txt-gray); */
}

p.subheading {
  font-size: 50px;
}
span.hi {
  background: var(--color-main);
  padding: 5px 15px;
  font-size: 35px;
  border-radius: 50px;
  color: var(--color-blanco);
}
.content-reveal-image {
  height: 400px;
  max-width: 200px;
}
.img_for_reveal, .reveal-image{
  height: 400px;
}
.tabs {
  max-width: 200px;
  height: 50px;
  background-color: var(--color-dark);  
  border-radius: 40px;
  
}

.tabs > *{
  z-index: 2;
}

.tab {
  width: 50%;
  display: inline-flex;
  border-radius: 40px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.wizard-bar {
  width: 50%;
  background-color: var(--color-main);
  height: 50px;
  top: 0;
  border-radius: 40px;
  position: absolute;
  display: flex;
  z-index: 1;
  transition: left 0.3s ease;
  border: 5px solid var(--color-dark);  
}
.btn_dev.active, .btn_design.active {
  color: var(--color-blanco);
}

.btn_dev.active ~ .wizard-bar {
  left: 0;
}

.btn_design.active ~ .wizard-bar {
  left: 50%;
}


/*--------------------------------------------------------------
Loader
--------------------------------------------------------------*/
.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-dark);
  color: var(--color-txt-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/*--------------------------------------------------------------
Portafolio
--------------------------------------------------------------*/
.showcase__title {
  min-height: 130px;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: var(--color-txt-gray);
}
.img_tab_proyecto img {
  transform: scale(1.05);
  opacity: 0;
  transition: all 0.7s;
  border-radius: 15px;
}
.img_tab_proyecto img.active {
  transform: scale(1);
  opacity: 1;
}
.showcase__title a{
  text-decoration: none;
}
.showcase__title .subtitle {
  font-size: 13px;
  line-height: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  white-space: normal;
  text-transform: uppercase;
}
.showcase__title .title {
  font-size: clamp(24px, 2.8vw, 48px);
  line-height: 1.167em;
  font-weight: 700;
}
/*--------------------------------------------------------------
ANIMATIONS
--------------------------------------------------------------*/

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
Footer
--------------------------------------------------------------*/
footer p{
  font-size: 20px;
}

.link_correo {
  font-size: 42px;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-text);
}

/*--------------------------------------------------------------
Cursor
--------------------------------------------------------------*/
.animated-cursor {
  position: fixed;
  transform: translate(-50%,-50%);
  min-height: 1rem;
  aspect-ratio: 1;
  background-color: var(--color-second);
  border: none;
  border-radius: 50%;
  -webkit-user-select: none;
  pointer-events: none;
  user-select: none;
  z-index: 150;
  transition: width 0.5s ease, height 0.5s ease;
}

.animated-cursor.active {
    width: 1.5rem;
    height: 1.5rem;
}

.arrow_hero {
  color: #fff;
  display: flex;
  padding: 10px;
  transform: rotate(45deg);
}

::selection {
  color: var(--color-blanco);
  background: var(--color-main);
}

::-moz-selection {
  color: var(--color-blanco);
  background: var(--color-main);
}

/*--------------------------------------------------------------
MEDIA QUERIES
--------------------------------------------------------------*/

@media screen and (max-width: 991px) {
  h1 {
    font-size: var(--font-size-h1-md);
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: var(--font-size-h1-sm);
  }
  .app-lateral {
    width: 100%;
    transform: translate(calc(100% + 20vw), 0) rotate(0.001deg);
  }

  .fixed-nav-rounded-div .content-rounded {
    width: 20vw;
  }

}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px !important;
  }
}